<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thanhlc">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThanhLýĐồCũ">
        <activity android:name=".thongtinsanphamaccount"></activity>
        <activity android:name=".adminquanlysp" />
        <activity android:name=".Mainkhuvuc" />
        <activity android:name=".acticchat" />
        <activity android:name=".capnhatsanpham" />
        <activity android:name=".doimatkhau" />
        <activity android:name=".MainActivitycapnhat" />
        <activity android:name=".MainActivitysapxeptheochu" />
        <activity android:name=".MainActivitysapxepgiamtheogia" />
        <activity android:name=".MainActivityqlsp" />
        <activity android:name=".MainActivitychitiet" />
        <activity android:name=".MainActivitytimkiem" />
        <activity android:name=".MainActivitysapxep" />
        <activity android:name=".MainActivityxeco" />
        <activity android:name=".MainActivity8" />
        <activity android:name=".MainActivity7" />
        <activity android:name=".MainActivity6">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity4" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>